.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #fe5c00;
  color: white;
}

#viewProfile {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#reviewHeader{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#searchBar{
  width: 40%;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 20px;
}

#recentReviewHeader{
  margin-bottom: 20px;
}

#reviewTable{
  width: 100%;
  font-size: 20px;
  font-family: sans-serif;
}

#restCol{
  width: 25%;
}

#scoreCol{
  width: 10%
}

#contentCol{
  width: 65%;
}

#reviewTable td {
  word-wrap: break-word;
  text-align: left;
  padding: 12px;
}
